extends ../../components/page/page
include ../../components/tabs/tabs


block content
    .container
        h1.heading Каждая лаборатория занимается важнейшими исследованиями
    +tabs({
        tabs: [{
            'pill': 'Лаборатория медицинской генетики',
            'pane': {
                'title': 'Изучение особенностей нейродегенеративных заболеваний (генетики)',
                'body': 'Проводится изучение роли каналов TRP и ASIC в развитии таких нейродегенеративных заболеваний, как болезнь Паркинсона и болезнь Альцгеймера. Исследуются фундаментальные механизмы патогенеза этих заболеваний с участием данных каналов. Также проводится поиск соединений, способных модулировать их работу и влиять на скорость прогрессирования нейродегенерации.'
            }
        }, {
            'pill': 'Лаборатория молекулярной и клеточной биологии',
            'pane': {
                'title': 'Изучение особенностей нейродегенеративных заболеваний (биологии)',
                'body': 'Проводится изучение роли каналов TRP и ASIC в развитии таких нейродегенеративных заболеваний, как болезнь Паркинсона и болезнь Альцгеймера. Исследуются фундаментальные механизмы патогенеза этих заболеваний с участием данных каналов. Также проводится поиск соединений, способных модулировать их работу и влиять на скорость прогрессирования нейродегенерации.'
            }
        }, {
            'pill': 'Отдел Биомедицинской инженерии',
            'pane': {
                'title': 'Изучение особенностей нейродегенеративных заболеваний (инженерии)',
                'body': 'Проводится изучение роли каналов TRP и ASIC в развитии таких нейродегенеративных заболеваний, как болезнь Паркинсона и болезнь Альцгеймера. Исследуются фундаментальные механизмы патогенеза этих заболеваний с участием данных каналов. Также проводится поиск соединений, способных модулировать их работу и влиять на скорость прогрессирования нейродегенерации.'
            }
        }, {
            'pill': 'Лаборатория фотонной биоинженерии',
            'pane': {
                'title': 'Изучение особенностей нейродегенеративных заболеваний (биоинженерии)',
                'body': 'Проводится изучение роли каналов TRP и ASIC в развитии таких нейродегенеративных заболеваний, как болезнь Паркинсона и болезнь Альцгеймера. Исследуются фундаментальные механизмы патогенеза этих заболеваний с участием данных каналов. Также проводится поиск соединений, способных модулировать их работу и влиять на скорость прогрессирования нейродегенерации.'
            }
        }, {
            'pill': 'Лаборатория нанотераностики',
            'pane': {
                'title': 'Изучение особенностей нейродегенеративных заболеваний (нанотераностики)',
                'body': 'Проводится изучение роли каналов TRP и ASIC в развитии таких нейродегенеративных заболеваний, как болезнь Паркинсона и болезнь Альцгеймера. Исследуются фундаментальные механизмы патогенеза этих заболеваний с участием данных каналов. Также проводится поиск соединений, способных модулировать их работу и влиять на скорость прогрессирования нейродегенерации.'
            }
        }]
    })